@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-background: oklch(var(--background));
  --color-secondary-background: oklch(var(--secondary-background));
  --color-foreground: oklch(var(--foreground));
  --color-main: oklch(var(--main));
  --color-main-foreground: oklch(var(--main-foreground));
  --color-border: oklch(var(--border));
  --color-ring: oklch(var(--ring));
  --color-overlay: oklch(var(--overlay));
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-chart-active-dot: var(--chart-active-dot);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-info: var(--info);
  --color-info-foreground: var(--info-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-input: var(--input);
  --color-sidebar: var(--sidebar-background);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --radius: 0.5rem;
}

@layer base {
  :root {
    --background: 95.08% 0.0481 184.07;
    --secondary-background: 100% 0 0;
    --foreground: 0% 0 0;
    --main-foreground: 0% 0 0;
    --main: 78.57% 0.1422 180.36;
    --border: 0% 0 0;
    --ring: 0% 0 0;
    --overlay: 0% 0 0 / 0.8;
    --shadow: 4px 4px 0px 0px var(--border);

    --chart-1: #00D6BD;
    --chart-2: #0099FF;
    --chart-3: #7A83FF;
    --chart-4: #FF4D50;
    --chart-5: #FACC00;
    --chart-active-dot: #000;

    --radius: 0.5rem;

    --success: 79% 0.17 142;
    --success-foreground: 0% 0 0;
    --warning: 92% 0.19 95;
    --warning-foreground: 0% 0 0;
    --destructive: 63% 0.2 27;
    --destructive-foreground: 100% 0 0;
    --info: 82% 0.1 190;
    --info-foreground: 0% 0 0;
    --muted: 96% 0 0;
    --muted-foreground: 56% 0 0;
    --card: 100% 0 0;
    --card-foreground: 0% 0 0;
    --popover: 100% 0 0;
    --popover-foreground: 0% 0 0;
    --input: 0% 0 0;

    --sidebar-background: 100% 0 0;
    --sidebar-foreground: 0% 0 0;
    --sidebar-primary: 78.57% 0.1422 180.36;
    --sidebar-primary-foreground: 0% 0 0;
    --sidebar-accent: 95.08% 0.0481 184.07;
    --sidebar-accent-foreground: 0% 0 0;
    --sidebar-border: 0% 0 0;
    --sidebar-ring: 78.57% 0.1422 180.36;

    --primary: 78.57% 0.1422 180.36;
    --primary-foreground: 0% 0 0;
    --secondary: 100% 0 0;
    --secondary-foreground: 0% 0 0;
    --accent: 95.08% 0.0481 184.07;
    --accent-foreground: 0% 0 0;
  }

  .dark {
    --background: 22.65% 0.0236 198.49;
    --secondary-background: 23.93% 0 0;
    --foreground: 92.49% 0 0;
    --main-foreground: 0% 0 0;
    --main: 71.47% 0.129261 180.4742;
    --border: 0% 0 0;
    --ring: 100% 0 0;
    --overlay: 0% 0 0 / 0.8;
    --shadow: 4px 4px 0px 0px var(--border);

    --chart-1: #00BDA7;
    --chart-2: #008AE5;
    --chart-3: #7A83FF;
    --chart-4: #FF6669;
    --chart-5: #E0B700;
    --chart-active-dot: #fff;

    --success: 79% 0.17 142;
    --success-foreground: 0% 0 0;
    --warning: 92% 0.19 95;
    --warning-foreground: 0% 0 0;
    --destructive: 63% 0.2 27;
    --destructive-foreground: 100% 0 0;
    --info: 71% 0.1 190;
    --info-foreground: 0% 0 0;
    --muted: 22.65% 0.0236 198.49;
    --muted-foreground: 65% 0 0;
    --card: 23.93% 0 0;
    --card-foreground: 92.49% 0 0;
    --popover: 23.93% 0 0;
    --popover-foreground: 92.49% 0 0;
    --input: 0% 0 0;

    --sidebar-background: 23.93% 0 0;
    --sidebar-foreground: 92.49% 0 0;
    --sidebar-primary: 71.47% 0.129261 180.4742;
    --sidebar-primary-foreground: 0% 0 0;
    --sidebar-accent: 22.65% 0.0236 198.49;
    --sidebar-accent-foreground: 92.49% 0 0;
    --sidebar-border: 0% 0 0;
    --sidebar-ring: 71.47% 0.129261 180.4742;

    --primary: 71.47% 0.129261 180.4742;
    --primary-foreground: 0% 0 0;
    --secondary: 23.93% 0 0;
    --secondary-foreground: 92.49% 0 0;
    --accent: 22.65% 0.0236 198.49;
    --accent-foreground: 92.49% 0 0;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    font-weight: 500;
    user-select: none;
  }
  h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
  }
}
